<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Card</title>
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<h1>Your card</h1>
<form th:href="@{/shop}" th:object="${card}" method="post">
    <h3>Total Items: <span th:text="${card.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${card.countProductQuantity()}"></span></h3>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="product:${card.products}">
            <td th:text="${product.getKey().name}" ></td>
            <td>
                <a id="decrease_button" th:href="@{/add/__${product.getKey().id}__(action='decrease')}" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
            </td>
            <td>
                <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='increase')}" th:text="${'+'}"></a>

            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${card.countTotalPayment()}"></td>
        </tr>

    </table>


</form>
</body>
</html>